
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.text {
  color: aliceblue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-sm sm:text-base capitalize tracking-wider font-semibold text-blue-500 inline-block hover:text-orange-600 transform transition hover:-translate-y-0.5 hover:underline hover:underline-offset-8 active:text-blue-500;
  }
  .link-light {
    @apply text-sm sm:text-base capitalize tracking-wider font-semibold text-blue-500 inline-block hover:text-orange-600 transform transition hover:-translate-y-0.5 hover:underline hover:underline-offset-8 active:text-blue-500;
  }
}