
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.text {
  color: aliceblue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-sm sm:text-base uppercase tracking-wider font-semibold text-sky-500 inline-block rounded border-2 border-sky-300 py-2 px-4 hover:text-orange-500 hover:border-orange-500 transform transition hover:-translate-y-0.5 active:text-sky-500 active:border-sky-300;
  }
  .link-light {
    @apply text-sm sm:text-base capitalize tracking-wider font-semibold text-blue-500 inline-block hover:text-orange-600 transform transition hover:-translate-y-0.5 hover:underline hover:underline-offset-8 active:text-blue-500;
  }
}