
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
.text {
  color: aliceblue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-5 py-3 text-sm sm:text-base rounded-lg shadow-lg uppercase tracking-wider font-semibold text-white inline-block bg-indigo-500 hover:bg-indigo-400 transform transition hover:-translate-y-0.5 focus:outline-none focus:ring focus:ring-offset-2 focus:bg-indigo-500 active:bg-indigo-700;
  }
}